In [1]:
import pandas as pd
import numpy as np

In [40]:
import psycopg2

In [4]:
from sqlalchemy import create_engine

In [7]:
conn = psycopg2.connect(host="45.32.103.71", database="test", user="gene", password="d430f885-b284+9d9e39")

In [8]:
engine = create_engine(
    "postgresql://gene:d430f885-b284+9d9e39@45.32.103.71/test",
    isolation_level="READ UNCOMMITTED"
)

In [9]:
user_ip = pd.read_sql("Select * from user_ip", conn)

In [10]:
ip_country = pd.read_sql("Select * from ip_country", conn)

4 + (3 * 256) + (2 * 256 * 256) + (1 * 256 * 256 * 256)

In [11]:
def ip_to_num(x):
    nums = x.split('.')
    nums = [int(x) for x in nums]
    ip_num = sum([nums[3],nums[2]*256,nums[1]*256*256,nums[0]*256*256*256])
    return ip_num

def ip_to_ctry(x, df):
    ctry  = df[df['ip_from']>x].head(1).ctry
    if ctry.empty:
        return None
    else:
        return ctry

In [12]:
#print(ip_to_num('24.67.58.89'))

In [13]:
user_ip['ip_num'] = user_ip['ip_address'].apply(ip_to_num)

In [14]:
#user_ip['ip_num'].head().apply(ip_to_ctry)

In [15]:
user_ip.shape

(1000, 3)

In [16]:
user_ip.head(2)

   userid     ip_address      ip_num
0      69    24.67.58.89   407059033
1     186  71.166.58.179  1202076339

In [17]:
ip_country.head(2)

      ip_from       ip_to registry      assigned ctry cntry country
0  16777472.0  16777727.0    apnic  1.302739e+09   CN   CHN   China
1  16777728.0  16778239.0    apnic  1.302739e+09   CN   CHN   China

In [18]:
ip_country = ip_country.sort_values('ip_from')

In [19]:
ip_country.head().ip_from

0    16777472.0
1    16777728.0
2    16778240.0
3    16779264.0
4    16781312.0
Name: ip_from, dtype: float64

In [20]:
ip_country.head().ctry

0    CN
1    CN
2    AU
3    CN
4    JP
Name: ctry, dtype: object

In [21]:
labels = pd.concat([ip_country.ctry, pd.DataFrame([str(x) for x in range(ip_country.shape[0])])], axis=1)

In [22]:
labels = labels.ctry +'_'+ labels[0]

In [23]:
bins = pd.concat([ip_country.ip_from,ip_country.tail(1).ip_to])

In [24]:
labels.head(2)

0    CN_0
1    CN_1
dtype: object

In [25]:
bins.head(2)

0    16777472.0
1    16777728.0
dtype: float64

In [26]:
user_ip_ctry = pd.cut(user_ip.ip_num, bins=bins, labels=labels)

In [27]:
user_ip_ctry.shape

(1000,)

In [28]:
user_ip['ctry_num'] = user_ip_ctry

In [29]:
user_ip['ctry'] = user_ip['ctry_num'].apply(lambda x:x.split('_')[0])

In [30]:
user_ip.head(2)

   userid     ip_address      ip_num  ctry_num ctry
0      69    24.67.58.89   407059033   CA_4125   CA
1     186  71.166.58.179  1202076339  US_29019   US

In [31]:
ctry_group = user_ip.groupby(by=['ctry'])['userid'].unique()

In [32]:
ctry_df = pd.DataFrame(ctry_group)

In [33]:
ctry_df['user_count'] = ctry_df.userid.apply(lambda x:len(set(x)))

In [34]:
ctry_df = ctry_df.sort_values('user_count', ascending=False)

In [35]:
ctry_df.head(10)

                                                 userid  user_count
ctry
US    [186, 304, 589, 734, 870, 1094, 1201, 1307, 13...         575
GB    [963, 3060, 5901, 10695, 14929, 16026, 16596, ...          95
FR    [2746, 3363, 3741, 4029, 5005, 8339, 8942, 925...          69
CA    [69, 1923, 6450, 7733, 11248, 15244, 16757, 26...          57
JP    [6998, 8745, 9552, 16236, 41156, 47489, 61390,...          36
ES    [11090, 12848, 14753, 50934, 64074, 66170, 668...          22
AU    [501, 13770, 15748, 23022, 27770, 10796, 16416...          17
IE    [63338, 66317, 3556, 41561, 66138, 77325, 8224...          13
NL    [32764, 33289, 11195, 84210, 85745, 87564, 957...          12
DE    [5163, 54441, 4201, 4306, 10036, 15379, 61258,...          11

In [36]:
ctry_df.user_count.sum()

1000

In [37]:
ctry_df['timestamp'] = pd.Timestamp.now()

In [38]:
ctry_df[['user_count','timestamp']].head(2)

      user_count                  timestamp
ctry
US           575 2020-05-03 11:33:33.806148
GB            95 2020-05-03 11:33:33.806148

In [39]:
ctry_df.head(10)[['user_count','timestamp']].to_sql('top10', con=engine, if_exists='replace')